{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for l in list%}
    <a href="{% url 'listing' l.id %}" class="href">
        <div class="list">
            <div class="img">
                {% if l.url %}
                    <img src="{{l.url}}" alt="item picture">
                {% endif %}
            </div>
            <div class="text">
                <div id=product_name>{{l.product}}</div>
                <div id="price">Price: ${{ l.price }}</div>
                <div>{{l.des}} </div>
                <br>
                <div id="date">Created {{l.date}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}