{% extends "auctions/layout.html" %}

{% block body %}
    {% if list.close != 1 %} 
    <h2>Listings: {{list.product}}</h2>
    {% else %}
    <h2>Listings: {{list.product}} (Closed)</h2>
    {% endif %}
    {% if user.is_authenticated %}
        {% if exist != 1 %}
        <div class="wb">
            <form action="{% url 'listing' list.id%}" method="POST">
                {% csrf_token%}
                <input type="hidden" value={{list.id}} name="watch">
                <input type="submit" class="btn btn-outline-success" value="Add to watchlist"> 
            </form>
        </div>
        {% else %}
        <div class="wb">
            <form action="{% url 'listing' list.id%}" method="POST">
                {% csrf_token%}
                <input type="hidden" value={{list.id}} name="rwatch">
                <input type="submit" class="btn btn-outline-danger" value="Remove from watchlist"> 
            </form>
        </div>
        {% endif %}

    {% endif %}
    
    {% if list.user.id == id and list.close != 1 %}
    <div class="wb">
        <form action="{% url 'listing' list.id%}" method="POST" name="closeform">
            {% csrf_token%}
            <input type="hidden" value={{list.id}}>
            <input type="submit" class="btn btn-outline-dark" value="Close" name="close"> 
        </form>
    </div>
    {% endif %}

    <div>
        <div class="img1">
            {% if list.url %}
                <img src="{{list.url}}" alt="item picture">
            {% endif %}
        </div>
        <div class="text1">
            <div>{{list.des}} </div>
            <div id="price1">Price: ${{list.price}}</div>
            {% if list.close != 1 %} 
            <div> Current bidder: {{bid.user}}</div>
            {% elif id == bid.user.id%}
            <div class="alert alert-success">Congradualation!! You are the winning bidder.</div>
            {% elif id == list.user.id %}
            <div class="alert alert-success">Winner bidder is {{bid.user}}.</div> 
            {% endif %}
            
        </div>

        {% if list.close != 1 %}
        <form action="{% url 'listing' list.id %}" method="POST">
            {% csrf_token%}
            {{ form }}
            <div>
                <input type="submit" class="btn btn-outline-primary" value="Place Bid">
            </div>
        </form>
        {% endif %}

        {% if message1 %}
            <div class="text-success">{{ message1 }}</div>
        {% endif %}
        {% if message2 %}
            <div class="text-danger">{{ message2 }}</div>
        {% endif %}
        <div>
            <br>
            <div id="detail">Details</div>
            <ul>
                <li>Listed by: {{list.user}}</li>
                <li>{{list.date}}</li>
            </ul>
        </div>
        <div>
            <div>Comments</div>
            {% if cexist == 1 %}
            <ul class="list-group">
                {% for c in comment%}
                <li class="list-group-item"><span class="left">{{c.comment}}</span><span class="right">{{c.user}}</span></li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'listing' list.id %}" method="POST">
                {% csrf_token%}
                <div>
                    <textarea rows=5 cols=100 name="comment" id="comment"></textarea> 
                </div>
                <div>
                    <input type="submit" value="Submit your comment" class="btn btn-outline-primary">
                </div>
            </form>
            {% if message3 %}
            <div class="text-danger">{{ message3 }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}